<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('../partials/header') %>
    <h1>About Us</h1>
    <ul>
        <% teamMembers.forEach(member => { %>
            <li><%= member.name %> - <%= member.role %></li>
        <% }) %>
    </ul>
    <%- include('../partials/footer') %>
</body>
</html>
