<%- include('../partials/header') %>

<header class = "contact-page">
    <h1>Contact Us</h1>
</header>
<h3 id=subheader>Please fill in your contact information in the form below</h3>

<form method="POST" action="/contact">
  <label for="name">Name:</label><br />
  <input type="text" id="name" name="name" placeholder="Your Name" required /><br /><br />

  <label for="email">Email:</label><br />
  <input type="email" id="email" name="email" placeholder="Your Email" required /><br /><br />

  <label for="message">Message:</label><br />
  <textarea id="message" name="message" placeholder="Your Message" required></textarea><br /><br />

  <button id=sendbtn type="submit">Send</button>
  <button id=resetbtn type="reset">Reset</button>
</form>

<%- include('../partials/footer') %>
